APP_PORT=1721
POSTGRES_PORT=5432
POSTGRES_DB=sf_shtraff
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sf_shtraff?schema=public"
RABBITMQ_URL="http://localhost:15672"
RABBITMQ_LOGIN="guest"
RABBITMQ_PASSWORD="guest"
RABBITMQ_QUEUE="main_queue"
JWT_ACCESS_SECRET="dev-secret-change-me"
